@{
    // ReSharper disable local UnknownCssClass
    // ReSharper disable local UnusedParameter
    // ReSharper disable local CssBrowserCompatibility
    // ReSharper disable local Html.IdNotResolved
    // ReSharper disable local Html.PathError
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Farmacia Home ::</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="keywords" content="Pharmacy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <!-- //for-mobile-apps -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <!-- js -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <!-- start-smoth-scrolling -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet" type="text/css">
    <!--- start-rate---->
    <link rel="stylesheet" href="~/css/jstarbox.css" type="text/css" media="screen" />
    <!---//End-rate---->

</head>

<body>
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/download.png" class="img-head" alt="">
    </a>
    <div class="header">
        <div class="container">
            <div class="head-t">
                <ul class="card">
                    <li>
                        <a href="wishlist.html">
                            <i class="fa fa-heart" aria-hidden="true"></i>Favoritos
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Login">
                            <i class="fa fa-user" aria-hidden="true"></i>Login
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Register">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>Cadastro
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="About">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>Sobre
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="FrequentlyAskedQuestions">
                            <i class="fa fa-ship" aria-hidden="true"></i>Perguntas Frequentes
                        </a>
                    </li>
                </ul>
            </div>

            <div class="header-ri">
                <ul class="social-top">
                    <li>
                        <a href="#" class="icon facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon dribbble">
                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="nav-top">
                <nav class="navbar navbar-default">

                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="hyper">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown">
                                    <span>
                                        Medicamentos
                                        <b class="caret"></b>
                                    </span>
                                </a>
                                <ul class="dropdown-menu multi">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Alergia">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Alergia
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Antibióticos">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Antibióticos
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Inflamação">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Inflamação
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Gripe & Resfriado">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Gripe & Resfriado
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Vitaminas & Suplementos">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Vitaminas & Suplementos
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Dor & Febre">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Dor & Febre
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Aparelho Respiratório">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Aparelho Respiratório
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Emagrecimento">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Emagrecimento
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Pressão Alta">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Pressão Alta
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 w3l">
                                            <a href="kitchen.html">
                                                <img src="images/me.jpeg" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown">
                                    <span>
                                        Saúde & Bem Estar
                                        <b class="caret"></b>
                                    </span>
                                </a>
                                <ul class="dropdown-menu multi multi1">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Alimentos & Bebidas">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Alimentos & Bebidas
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Dentadura">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Dentadura
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Lentes & Acessórios">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Lentes & Acessórios
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Suplementos Alimentares">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Suplementos Alimentares
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Ortopedia">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Ortopedia
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Nutricosméticos">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Nutricosméticos
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Meias de Compressão">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i> Meias de Compressão
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Preservativos & Lubrificantes">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Preservativos & Lubrificantes
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Produtos Naturais">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Produtos Naturais
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-3 w3l">
                                            <a href="care.html">
                                                <img src="images/me2.jpg" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown">
                                    <span>
                                        Beleza & Proteção
                                        <b class="caret"></b>
                                    </span>
                                </a>
                                <ul class="dropdown-menu multi multi2">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Cabelos">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Cabelos
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Colônias & Perfume">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Colônias & Perfume
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Corpo & Rosto">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Corpo & Rosto
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Mãos & Pés">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Mãos & Pés
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Maquiagem">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Maquiagem
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Máscaras">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Máscaras
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Proteção Solar">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Proteção Solar
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Tinturas">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Tinturas
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Unhas">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Unhas
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 w3l">
                                            <a href="hold.html">
                                                <img src="images/me1.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="hyper">
                                    <span>Contato</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="hyper">
                                    <span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="cart">

                    <span class="fa fa-shopping-cart my-cart-icon">
                        <span class="badge badge-notify my-cart-badge"></span>
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <!--content-->
    <div class="content-top">
        <div class="container">
            <div class="spec">
                <h3>Mais Procurados</h3>
                <div class="ser-t">
                    <b></b>
                    <span>
                        <i></i>
                    </span>
                    <b class="line"></b>
                </div>
            </div>
            <div class="tab-head">
                <nav class="nav-sidebar">
                    <ul class="nav tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">Medicamentos</a>
                        </li>
                        <li class="">
                            <a href="#tab2" data-toggle="tab">Saude & Bem Estar</a>
                        </li>
                        <li class="">
                            <a href="#tab3" data-toggle="tab">Beleza & Proteção</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--content-->
    @RenderBody()
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grid">
                <h3>Sobre</h3>
                <p>...</p>
            </div>
            <div class="col-md-3 footer-grid ">
                <h3>Menu</h3>
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a href="kitchen.html">Medicamentos</a>
                    </li>
                    <li>
                        <a href="care.html">Saúde & Bem Estar</a>
                    </li>
                    <li>
                        <a href="hold.html">Beleza & Proteção</a>
                    </li>
                    <li>
                        <a href="codes.html">Short Codes</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid ">
                <h3>Serviços</h3>
                <ul>
                    <li>
                        <a href="terms.html">Termos & Condições</a>
                    </li>
                    <li>
                        <a href="offer.html">Compra Online</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>Minha Conta</h3>
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Register">Cadastro</a>
                    </li>
                    <li>
                        <a href="wishlist.html">Favoritos</a>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="footer-bottom">
                <h2>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <b>
                            <br>
                            <br>
                        </b>FarmNat
                        <span>Manipulação</span>
                    </a>
                </h2>
                <p class="fo-para"></p>
                <ul class="social-fo">
                    <li>
                        <a href="#" class=" face">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" twi">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" dri">
                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <div class=" address">
                    <div class="col-md-4 fo-grid1">
                        <p>
                            <i class="fa fa-home" aria-hidden="true"></i> Av. Albert Einstein, 604
                        </p>
                    </div>
                    <div class="col-md-4 fo-grid1">
                        <p>
                            <i class="fa fa-phone" aria-hidden="true"></i>Telefone: (11) 3596-2546 || Celular: (11) 98515-4675
                        </p>
                    </div>
                    <div class="col-md-4 fo-grid1">
                        <p>
                            <a href="mailto:farmnat@gmail.com">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>FarmNat@gmail.com
                            </a>
                        </p>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
            <div class="copy-right">
                <p> &copy; @DateTime.Today.Year FarmNat.| Design by AerariumTech
            </div>
        </div>
    </div>
    <!-- //footer-->
    <a href="#" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <!-- smooth scrolling -->
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                },
                    1000);
            });
        });
    </script>

    <script src="~/js/jstarbox.js"></script>

    <script type="text/javascript">
        jQuery(function () {
            jQuery('.starbox').each(function () {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable')
                        ? false
                        : starbox.hasClass('clickonce')
                            ? 'once'
                            : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth')
                        ? false
                        : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed',
                    function (event, value) {
                        if (starbox.hasClass('random')) {
                            var val = Math.random();
                            starbox.next().text(' ' + val);
                            return val;
                        }
                        return undefined;
                    });
            });
        });
    </script>
    <script>
        window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.1.min.js"><\/script>')
    </script>
    <script src="js/jquery.vide.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!-- //smooth scrolling -->
    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <script type="text/javascript" src="js/jquery.mycart.js"></script>
    @* TODO INCLUDE PRODUCTION BUILD SCRIPTS *@
    @RenderSection("Scripts", required: false)
</body>

</html>