@{
    ViewData["Title"] = "Contact";
    /* ReSharper disable local UnknownCssClass */
}

<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Contato</h3>
        <h4>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <label>/</label>Contato
        </h4>
        <div class="clearfix"> </div>
    </div>
</div>

<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="spec ">
            <h3>Contato</h3>
            <div class="ser-t">
                <b></b>
                <span>
                    <i></i>
                </span>
                <b class="line"></b>
            </div>
        </div>


        <div class="col-md-5 contact-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7312.293577514988!2d-46.715079!3d-23.599068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce56dc144b6d6f%3A0xbe24355bb94cea6e!2sAv.+Albert+Einstein%2C+604+-+Jardim+Leonor%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1530373583265"
                    width="800" height="600" frameborder="0" style="border: 0" allowfullscreen>
            </iframe>
        </div>
        <div id="container">
            <!--Horizontal Tab-->
            <div class="col-md-7 contact-left">

                <ul class="contact-list">
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Av. Albert Einstein, 604
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:farmnat83@gmail.com">farmnat83@gmail.com</a>
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> (11) 3596-2546@* || Celular: (11) 98515-4675*@
                    </li>
                </ul>

            </div>
        </div>

    </div>

    <div class="clearfix"></div>
</div>
<!-- //contact -->