@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a asp-area="" asp-controller="ApiProducts" asp-action="GetProducts">Products</a></li>
    <li><a asp-area="" asp-controller="Sales" asp-action="Index">Sales</a></li>
</ul>