<div class="container text-justify">

    <h1>Termos e Condições</h1>

    <p>Trocar qualquer produto comprado pela internet, na loja física ou por telefone é fácil.</p>
    <p>Veja como fazer:</p>

    <h3>Por arrependimento</h3>

    <ol>
        <li>Em até 30 dias após a data da compra, vá até uma de nossas lojas físicas, levando o produto, juntamente com o documento de identificação e a nota ou cupom fiscal da compra.</li>
        <li>Fale com um dos atendentes.</li>
        <li>Escolha o produto para levar na troca.</li>
        <li>Caso queira efetuar a devolução, o valor do produto será reembolsado.</li>
    </ol>

    <h4>Importante</h4>

    <ul>
        <li>O produto a ser devolvido não pode ter indícios de uso ou a embalagem original danificada.</li>
    </ul>

    <h3>Produto com defeito</h3>

    <ol>
        <li>Em até 30 dias após a data da compra, vá até uma de nossas lojas físicas, levando o produto, juntamente com o documento de identificação e a nota ou cupom fiscal da compra.</li>
        <li>Fale com um de nossos atendentes.</li>
        <li>Após realizar a devolução, o valor do produto será reembolsado.</li>
        <li>Caso queira efetuar a troca, basta levar o produto em substituição.</li>
    </ol>

    <h4>Importante</h4>

    <ul>
        <li>O crédito será concedido de acordo com o valor do produto mencionado no cupom ou nota fiscal. Se o produto escolhido para a troca for diferente do produto trocado, será cobrada a diferença, de acordo com a política de preços vigente na loja.</li>
        <li>De acordo com a ANVISA** e para sua segurança, antibióticos (antimicrobianos), medicamentos controlados e produtos que precisam de armazenamento em temperatura especial não podem ser trocados ou devolvidos.</li>
    </ul>

    <h3>Agência Nacional de Vigilância Sanitária</h3>

    <p>Se tiver alguma dúvida, entre em contato com a Central de Atendimento através do e-mail <a href="mailto:farmnat83@gmail.com">farmnat83@gmail.com</a> ou ligue para 3596-2546, de 2ª a sábado, das 8h às 20h30.</p>

    <h3>Produto entregue diferente do adquirido na compra</h3>
    <p>Se você comprou no site e recebeu um produto diferente do que foi adquirido, entre em contato com a Central de Atendimento através do e-mail <a href="mailto:farmnat83@gmail.com">farmnat83@gmail.com</a> ou ligue para 3596-2546, de 2ª a sábado, das 8h às 20h30.</p>
    <p>Em contato com a Central de Atendimento, você será informado sobre:</p>

    <ol>
        <li>Prazo e orientações sobre a forma de devolução do produto.</li>
        <li>Substituição e envio do produto solicitado.</li>
        <li>Caso queira efetuar a devolução, o valor do produto será reembolsado.</li>
    </ol>

    <h4>Importante</h4>

    <ul>
        <li>O produto a ser devolvido não pode ter indícios de uso ou a embalagem original danificada.</li>
    </ul>

</div>