@model IEnumerable<Product>

@if (Model != null)
{
    if (Model.Any())
    {
        foreach (var product in Model)
        {
            <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Name">@product.Name</a>
        }
    }
    else
    {
        <p>No products found!</p>
    }
}
