@{
    ViewData["Title"] = "Acesso negado";
}

<header style="margin-bottom: 30px;">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Você não tem permissão para acessar este recurso.</p>
</header>
