@{
    ViewData["Title"] = "Bloqueado";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Essa conta está bloquada. Por favor, tente novamente mais tarde.</p>
</header>