@model CheckoutViewModel

<div>
    <form asp-controller="ShoppingCart" asp-action="Checkout" method="post">
        <select asp-for="ShippingRateId" asp-items="@ViewBag.ShippingRates"></select>
        <select asp-for="PaymentModeId" asp-items="@ViewBag.PaymentModes"></select>
        <input type="submit" class="btn btn-default" submit="Finalizar pedido"/>
    </form>
</div>