@using AerariumTech.Pharmacy.App.Services
@model ShoppingCart

<table class="table table-hover table-striped">
    <thead>
    <th>Product</th>
    <th>Amount</th>
    <th>Unit price</th>
    <th>Total</th>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Items.Count; i++)
    {
        <td>@Model.Items.ElementAt(i).Product.Name</td>
        <td>@Model.Items.ElementAt(i).Quantity</td>
        <td>@(Model.Items.ElementAt(i).Product.PriceWithoutDiscount ?? Model.Items.ElementAt(i).Product.Price)</td>
        <td>@Model.Items.ElementAt(i).GetSubTotal()</td>
    }
    </tbody>
</table>
